
.job-page {
    display: flex;
    /*text-align: center;*/
}

.map {
    width: 300px;
    height: 206px;
}

.information-block {
    background-color: #384564;
    color: white;
    /*text-decoration: none;*/
    /*list-style:none;*/
    /*padding:0;*/
    /*margin:0;*/
    width: 300px;
    height: 206px;
}

.main-block {
    width: 55%;
    margin-left: 10%;
}

.main-nav {
    display: flex;
    list-style: none;
    font-size: 28px;
    margin: 0;
}

.titleText {
    width: 70%;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    /* or 125% */

    letter-spacing: -0.625px;

    /* Text/Dark */

    color: #3A4562;


}

.titleSalary {
    display: flex;
}

.brutto {
    /*display: grid;*/
    right: 6px;
    padding-top: 21px;
}

.apply-button-first {
    padding: 18px 30px;
    bottom: 92.33%;
    color: white;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    /*width: 30px;*/
    background: #384564;
    border-radius: 8px;
}

.apply-button-second {
    padding: 18px 30px;
    bottom: 92.33%;
    color: white;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    /*width: 30px;*/
    background: #384564;
    border-radius: 8px;
}

.employment-style {
    display: flex;
    justify-content: space-between;
}

.full-time-button {
    background-color: rgba(161, 177, 219, 0.317343);
    border: 1px solid rgba(85, 105, 158, 0.3);
    border-radius: 8px;
    height: 49px;
    width: 222px;
    /*font-family: 'Proxima Nova';*/
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #55699E;
    padding: 10px;

}

.benefits-style {
    display: flex;
    justify-content: stretch;
}

.shedule-button {
    background-color: rgba(255, 207, 0, 0.15);
    border: 1px solid rgba(85, 105, 158, 0.3);
    border-radius: 8px;
    height: 49px;
    width: 222px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #988B49;
    padding: 10px;
}

.map-block {
    margin-left: 20px;
}

@media only screen and (max-width: 900px) {
    .main-nav {
        font-size: 15px;
        padding: 0;
    }

    .job-page {
        display: block;
    }

    .main-block {
        width: 90%;
    }

    .apply-button {
        margin-left: 30%;
    }

    .full-time-button {
        width: 150px;
    }

    .apply-button-first {
        display: none;
    }

    .link-style {
        display: none;
    }

    .titleText {
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        /* or 133% */

        letter-spacing: -0.5625px;

        /* Text/Dark */

        color: #3A4562;

    }
}

.push {
    margin-left: auto;
}

.imgStyle {
    padding: 10px;
    border-radius: 25px;
}

.return-button {
    background-color: lightgray;
    width: 213px;
    height: 50px;
    border-radius: 8px;
    border: none;
    color: #3A4562;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
}

.arrow {
    padding-right: 20px;
}

.job-details {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.413333px;

    color: #3A4562;
}

.time-posted {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */

    letter-spacing: -0.5625px;

    color: rgba(56, 65, 93, 0.355988);
}

.text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */

    /*letter-spacing: -0.5625px;*/

    /* Text/Dark */

    color: #3A4562;
    /*font-stretch: 100;*/
}


.salary-amount {
    color: #3A4562;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}