
.card {
    display: flex;
    background-color: white;
    border-radius: 8px;
    width: 90%;
    margin-left: 5%;
    position: relative;
    margin-top: 15px;
}

.title {
    width: 60%;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #3A4562;
    text-decoration: none;
}

.card-text {
    color: #878D9D;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}

.location-style {
    color: #878D9D;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}

.text-part {
    margin-left: 15px;
}

.link {
    text-decoration: none;
}

.time {
    position: absolute;
    bottom: 10px;
    right: 16px;
    color: gray;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    align-items: flex-end;
    text-align: right;
    color: #878D9D;
}

.img-card {
    position: absolute;
    top: 29px;
    right: 24px;
}

.image {
    float: left;
    border-radius: 50%;
    margin-top: 42px;
    margin-left: 20px;
    width: 85px;
    height: 85px;
}

.jobPageStyle {
    background-color: #E6E9F2;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 0 0 0 0;
}

@media only screen and (max-width: 600px) {
    .title {
        width:60%;
        overflow:hidden;
        height:100px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.5625px;
        color: #3A4562;
    }

    .image {
        margin-top: 42px;
        margin-left: 20px;
        width: 66px;
        height: 66px;
    }

    .img-card {
        display: none;
    }

    .time {
        position: absolute;
        bottom: 190px;
        right: 16px;
        color: gray;
        font-style: normal;
        font-weight: 100;
        font-size: 10px;
        line-height: 25px;
        display: flex;
        align-items: flex-end;
        text-align: right;
        color: #878D9D;
    }
}